@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-light-webfont-0c6096cf81b84bb19da17bdd0563b4f213b5ab12f316f371b86c067f3a1f833d.woff2) format("woff2"), url(/assets/sailec-light-webfont-65b28fb2255cca977d24b627926821b99e9fde864b0ab4c1f405af2cfba2b370.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-webfont-e792b7dd666c0b34eae526c861f1e97d6755de02fa86029503e9e9a9d7a81573.woff2) format("woff2"), url(/assets/sailec-webfont-8395ae850f96eccfbe346c688a4c42e8ff704a5db01c8fc0daee337ee18dd6bf.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-medium-webfont-2892e2256c78f4bd4adcbf5f8b514016cecde1798c62e0b30779ab703eae92ff.woff2) format("woff2"), url(/assets/sailec-medium-webfont-05fff20ec9806e0b406e9bc1dc06b2d31063b80176fcafa31341b1d02b219c45.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-bold-webfont-d154777fc2cedb3f76632bc31331026bd7524df8165b598ed4c7b38fb972a2e0.woff2) format("woff2"), url(/assets/sailec-bold-webfont-6108d98f052a3761095ac133c4ef1f3d9dbfcbd72155ad2ee6745b12ac30a98b.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-ExtraLight-5a45507eb9ab280700c0da004905c0ac9d774124a10be71cb650ce3e66983113.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Light-25d4c5a89428f032e3851eed4f903a1c800c2bde74f3893f3ac62782ed67cfbf.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Regular-9e2747806c4a30f0d4f39596a13dd97dc5484b96845d945d90b300e1bbdebc72.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-SemiBold-f1e4f2f2fc3d7c308dd2c7535c10c26020928a3e424a93712392d05429945cef.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Bold-8b9e27ba172e5b535b1d0564b4882f74aecc77a4dc4d20fc400bd2b2bc4418c1.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-ExtraBold-010b96e8ca8b6f4d3b72894902521dbe632ee338f0c31cabdc80382d38afbe25.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Black-5de02eda57af55731e740cc5985ee099e115980360db9488fafea6f062370f1d.ttf) format("truetype");
  font-weight: 900;
}

/* line 1, app/assets/stylesheets/base/layout.sass */
body {
  background: #F5F6FA;
  font-family: 'sailec';
  font-size: 14px;
}

/* line 6, app/assets/stylesheets/base/layout.sass */
.bg-light {
  background: white !important;
}

/* line 9, app/assets/stylesheets/base/layout.sass */
.content-wrapper {
  width: 100%;
  margin-top: 3px;
  align-items: stretch;
}

/* line 14, app/assets/stylesheets/base/layout.sass */
.content-wrapper .main-content {
  width: calc(100% - 275px);
  padding-top: 30px;
  background: #F9F9F9;
}

/* line 19, app/assets/stylesheets/base/layout.sass */
.h5 {
  font-size: 17px;
  background: #F9F9F9;
}

/* line 1, app/assets/stylesheets/base/tables.sass */
.table {
  font-size: 14px;
}

/* line 3, app/assets/stylesheets/base/tables.sass */
.table a {
  margin-right: 5px;
}

/* line 1, app/assets/stylesheets/base/navigation.sass */
nav#sidebar {
  min-width: 260px;
  max-width: 260px;
  margin-right: 15px;
  position: relative;
  height: calc(100vh - 63px);
  background: white;
  color: black;
  padding: 20px 15px;
  font-family: Nunito;
  font-weight: 400;
}

/* line 12, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links {
  padding: 30px 0;
}

/* line 14, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links p {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #3B3E47;
  padding: 0 15px;
  margin-bottom: 10px;
  line-height: 10px;
}

/* line 22, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li {
  padding: 10px 0;
  margin-bottom: 6px;
  border-radius: 4px;
}

/* line 26, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li a, nav#sidebar ul.main-links li .icon-container {
  float: left;
}

/* line 28, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li .icon-container {
  width: 20px;
  margin: 0 15px;
  text-align: center;
}

/* line 32, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li .icon-container i {
  color: #7B8094;
  display: block;
}

/* line 35, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li a {
  font-size: 14px;
  line-height: 12px;
  margin-top: 3px;
  color: #7B8094;
}

/* line 40, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li.active {
  background: #FBEBFF;
}

/* line 42, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li.active i {
  color: #863399;
}

/* line 44, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li.active a {
  color: #1E263B;
}

/* line 50, app/assets/stylesheets/base/navigation.sass */
.navbar .nav-link {
  font-size: 14px;
  color: #7B8094;
  font-weight: 500;
}

/* line 54, app/assets/stylesheets/base/navigation.sass */
.navbar .nav-link:hover {
  color: #863399;
}

/* line 56, app/assets/stylesheets/base/navigation.sass */
.navbar .nav-link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: #CFD1DF;
  margin-left: 6px;
  vertical-align: unset;
}

/* line 68, app/assets/stylesheets/base/navigation.sass */
.navbar .dropdown-item {
  font-size: 14px;
}

/* line 1, app/assets/stylesheets/base/bootstrap_overrides.sass */
.btn-primary {
  background-color: #863399;
  border-color: #863399;
}

/* line 4, app/assets/stylesheets/base/bootstrap_overrides.sass */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #652673 !important;
  border-color: #652673 !important;
}

/* line 8, app/assets/stylesheets/base/bootstrap_overrides.sass */
a {
  color: #863399;
}

/* line 2, app/assets/stylesheets/base/version2.sass */
.agency-dashboard {
  width: 1160px;
  padding-left: 47px;
  padding-right: 47px;
  font-family: Nunito;
}

/* line 8, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .no-clients-card {
  height: 219px;
  border: 1px dashed #C1C1C1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* line 17, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-title {
  color: #58107C;
  font-size: 20px;
}

/* line 21, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .card-v2 {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* line 25, app/assets/stylesheets/base/version2.sass */
.agency-dashboard input {
  font-size: 14px;
  height: 50px;
  border-radius: 8px;
}

/* line 30, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dropdown-menu-button {
  display: inline-flex;
  float: right;
}

/* line 34, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .gear-icon {
  color: #828282;
  font-size: 21px;
  padding: 6px;
}

/* line 40, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .label-v2 {
  color: #58107C;
  margin-bottom: -50px;
  padding-left: 5px;
  padding-top: 2px;
  position: absolute;
}

/* line 47, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .input-v2 {
  padding-top: 20px;
  height: 50px;
  border-radius: 8px;
}

/* line 52, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .select2-selection--multiple {
  height: auto !important;
}

/* line 56, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .menu-item {
  font-size: 16px;
}

/* line 59, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .menu-item i {
  color: #58107C;
  font-size: 14px;
  padding-right: 15px;
}

/* line 64, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-primary-v2 {
  background: linear-gradient(99.74deg, #57107C 13.42%, #57107C 30%, #1D51A2 123.17%);
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  width: 167px;
  border-radius: 8px;
  padding: 10px 13px 10px 13px;
  color: white;
}

/* line 75, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-primary-v2 .icon {
  font-size: 18px;
  padding-right: 8px;
  vertical-align: middle;
}

/* line 80, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-secondary-v2 {
  color: #58107C;
  background: white;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  width: 167px;
  border-radius: 8px;
  padding: 10px 13px 10px 13px;
  border: 1px solid #58107C;
}

/* line 91, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-secondary-v2.btn-drawer {
  width: 34px;
  height: 34px;
  margin-right: 15px;
}

/* line 96, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-secondary-v2.btn-campaign-back {
  width: 193px;
  height: 34px;
  margin-right: 15px;
  padding: 0;
}

/* line 102, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-append-right-v2 {
  background: white;
  border-color: #ced4da;
  border-left: none;
  border-radius: 8px;
}

/* line 108, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-append-right-v2 i {
  color: grey;
  padding-top: 7px;
  font-size: 12px;
}

/* line 113, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .create-campaigns-btn {
  font-size: 14px;
  padding: 10px 13px 10px 13px;
  color: #58107C;
}

/* line 118, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .create-campaigns-btn .icon {
  font-size: 18px;
  padding-right: 8px;
  vertical-align: middle;
  color: #58107C;
  padding-bottom: 2px;
}

/* line 125, app/assets/stylesheets/base/version2.sass */
.agency-dashboard h1 {
  font-size: 26px;
  font-weight: 400;
  display: inline-flex;
}

/* line 130, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .search-input {
  background: white;
  height: 50px;
  width: 332px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  border: 1px solid #e7e9e2;
}

/* line 139, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .search-input::-webkit-input-placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.agency-dashboard .search-input::-moz-placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.agency-dashboard .search-input:-ms-input-placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.agency-dashboard .search-input::-ms-input-placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.agency-dashboard .search-input::placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}

/* line 147, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .grid-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 151, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 334px;
  border-radius: 8px;
}

/* line 156, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top {
  background: conic-gradient(from 47.55deg at 57.06% -54.36%, #1C111E -172.56deg, #843693 19.34deg, #1C111E 187.44deg, #843693 379.34deg);
  height: 188.05px;
  border-radius: 8px 8px 0px 0px;
  padding: 25px;
}

/* line 162, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
  display: inline-flex;
}

/* line 170, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .card-drawer-icon {
  color: white;
}

/* line 173, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .active-campaigns-btn {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #219653;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 2px 19px 2px 19px;
}

/* line 184, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .advertiser-card-container {
  position: relative;
  height: 100%;
  display: flex;
}

/* line 189, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .advertiser-card-container .content-bottom {
  position: absolute;
  bottom: 30px;
}

/* line 193, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .advertiser-card-container .content-center {
  margin: auto;
  padding-bottom: 10px;
}

/* line 197, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top.grey {
  background: #F2F2F2;
}

/* line 200, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top.grey h4 {
  color: #4F4F4F;
}

/* line 203, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top.grey .card-drawer-icon {
  color: #4F4F4F;
}

/* line 206, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-bottom {
  height: 51.95px;
  display: grid;
  align-items: center;
}

/* line 211, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-bottom .see-details-btn {
  float: right;
}

/* line 214, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-bottom .see-details-btn:focus {
  box-shadow: none;
}

/* line 217, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-bottom label {
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 0;
  color: #4F4F4F;
}

/* line 223, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table {
  font-size: 14px;
  border: 1px solid #D9D9D9;
}

/* line 227, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .sort-caret {
  padding-left: 6px;
  font-size: 13px;
}

/* line 231, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .header-classes {
  background: #F7E9FD;
}

/* line 234, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table tr {
  border: none;
}

/* line 237, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table tr:hover {
  zoom: 105%;
}

/* line 240, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table tr:nth-child(even) {
  background-color: #F2F2F2;
}

/* line 243, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table th {
  border: none;
}

/* line 246, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table td {
  border: none;
  vertical-align: middle;
}

/* line 251, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-cell {
  margin: auto;
}

/* line 254, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-cell p {
  margin-bottom: 0;
  text-align: center;
  line-height: 20px;
}

/* line 259, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-bar {
  width: 100px;
  height: 11px;
  background: #E9E9E9;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: auto;
}

/* line 268, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-bar-inside {
  height: 11px;
  border-radius: 8px;
  margin: -1px;
}

/* line 274, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dot.orange {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  background: #F2994A;
  margin: auto;
}

/* line 283, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}

/* line 290, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details label {
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

/* line 298, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details label.goal-label {
  font-size: 21px;
  line-height: 16px;
  letter-spacing: 0em;
  color: #3289CB;
}

/* line 305, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details .dot.orange {
  margin-right: 5px;
}

/* line 308, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details .details-card {
  background: white;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
}

/* line 315, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details .details-card.filled {
  padding: 0px;
}

/* line 319, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component div[role=tablist] {
  border-bottom: 1px solid #D9D9D9;
  background: transparent;
}

/* line 323, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component button {
  background: transparent;
  height: 50px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #D9D9D9;
}

/* line 332, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component button:focus {
  outline: none;
}

/* line 335, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component button.active {
  border-bottom: 3px solid #58107C;
}

/* line 339, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control--is-focused {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* line 343, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control {
  border-radius: 8px;
  background: transparent;
}

/* line 348, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__placeholder {
  top: 64%;
}

/* line 351, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__single-value {
  top: 64%;
}

/* line 354, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__input {
  padding-top: 8px;
  margin-bottom: -8px;
}

/* line 358, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__input input {
  height: 36px;
}

/* line 361, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control--is-focused {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* line 365, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control {
  border-radius: 8px;
  background: transparent;
}

/* line 369, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container {
  padding-top: 20px;
}

/* line 372, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container .multiSelectV2__placeholder {
  top: 64%;
}

/* line 375, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container .multiSelectV2__multi-value {
  background: #FCF2FF;
  border: 1px solid #DCC3E6;
  box-sizing: border-box;
  border-radius: 8px;
}

/* line 381, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container input {
  height: 20px;
}
