@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-light-webfont-ab0f9db394d9e3e1f43534ac7f4bcaac26e46a11441c800ce0acffb3d225f6e6.woff2) format("woff2"), url(/assets/sailec-light-webfont-1d76bb64e46c4a460389f15ada77949659a7da5a6b36ac2eb6e28e523ab02777.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-webfont-1e27f06bfe876085b3b93110b5cccbd3622ca4e98e2601677357bb9ce7d44d3d.woff2) format("woff2"), url(/assets/sailec-webfont-142fb93d236427742109ebb6be69145cadd2554b1a066aab7ea757d752bac9f8.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-medium-webfont-752d76cbed4e0465df36b942c9b7fc92a4a15196f987b15e2606c87fe6bc4f5f.woff2) format("woff2"), url(/assets/sailec-medium-webfont-5431aa689c7f89a7b66fe3c973c9ce2ebad53de98e35d764286b7fe4533b38b7.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sailec';
  src: url(/assets/sailec-bold-webfont-30a4a5d00c49422cbb794aca3fea63ab9beb719380fc3ce22b405f20080da1a7.woff2) format("woff2"), url(/assets/sailec-bold-webfont-5a5d449bf80e2b753e46d8a70326e1e319209c99893b5b01c6e962201b4b39c5.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-ExtraLight-8bacfd368ff19a3d507c1d607eb068b05cf316a67895961b8b818d49ec8de2b3.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Light-df856e1c1c0f8854a1e301691e9c42ef8f4932aca7facfae7b9d60174c83e2a8.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Regular-2201a8eb10bb646dcb17721848a295daf329ea70cff74065fb9fbec053281c31.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-SemiBold-bdc9f09d541e11edc0e0d8b00fcdc2dae38f1df233bc5900c97e92cf405df33b.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Bold-46b3e2168c3b330f54b5c6bc96f1ae33375d9f0d600d194cc5dc190136841762.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-ExtraBold-bdf3ed983540c614848e7dc374e35b27fb735ddc5d4c1cc5bca4f08721c12bc1.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/Nunito-Black-cfdec4894b9dc2e2535cc8be0389b91c6be8771dd1e288747044416feef4df6a.ttf) format("truetype");
  font-weight: 900;
}

/* line 1, app/assets/stylesheets/base/layout.sass */
body {
  background: #F5F6FA;
  font-family: 'sailec';
  font-size: 14px;
}

/* line 6, app/assets/stylesheets/base/layout.sass */
.bg-light {
  background: white !important;
}

/* line 9, app/assets/stylesheets/base/layout.sass */
.content-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 3px;
  align-items: stretch;
}

/* line 15, app/assets/stylesheets/base/layout.sass */
.content-wrapper .main-content {
  width: calc(100% - 275px);
  padding-top: 30px;
  background: #F9F9F9;
}

/* line 20, app/assets/stylesheets/base/layout.sass */
.h5 {
  font-size: 17px;
  background: #F9F9F9;
}

/* line 1, app/assets/stylesheets/base/tables.sass */
.table {
  font-size: 14px;
}

/* line 3, app/assets/stylesheets/base/tables.sass */
.table a {
  margin-right: 5px;
}

/* line 1, app/assets/stylesheets/base/navigation.sass */
nav#sidebar {
  min-width: 260px;
  max-width: 260px;
  margin-right: 15px;
  position: relative;
  height: calc(100vh - 63px);
  background: white;
  color: black;
  padding: 20px 15px;
  font-family: Nunito;
  font-weight: 400;
}

/* line 12, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links {
  padding: 30px 0;
}

/* line 14, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links p {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #3B3E47;
  padding: 0 15px;
  margin-bottom: 10px;
  line-height: 10px;
}

/* line 22, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li {
  padding: 10px 0;
  margin-bottom: 6px;
  border-radius: 4px;
}

/* line 26, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li a, nav#sidebar ul.main-links li .icon-container {
  float: left;
}

/* line 28, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li .icon-container {
  width: 20px;
  margin: 0 15px;
  text-align: center;
}

/* line 32, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li .icon-container i {
  color: #7B8094;
  display: block;
}

/* line 35, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li a {
  font-size: 14px;
  line-height: 12px;
  margin-top: 3px;
  color: #7B8094;
}

/* line 40, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li.active {
  background: #FBEBFF;
}

/* line 42, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li.active i {
  color: #863399;
}

/* line 44, app/assets/stylesheets/base/navigation.sass */
nav#sidebar ul.main-links li.active a {
  color: #1E263B;
}

/* line 50, app/assets/stylesheets/base/navigation.sass */
.navbar .nav-link {
  font-size: 14px;
  color: #7B8094;
  font-weight: 500;
}

/* line 54, app/assets/stylesheets/base/navigation.sass */
.navbar .nav-link:hover {
  color: #863399;
}

/* line 56, app/assets/stylesheets/base/navigation.sass */
.navbar .nav-link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: #CFD1DF;
  margin-left: 6px;
  vertical-align: unset;
}

/* line 68, app/assets/stylesheets/base/navigation.sass */
.navbar .dropdown-item {
  font-size: 14px;
}

/* line 1, app/assets/stylesheets/base/bootstrap_overrides.sass */
.btn-primary {
  background-color: #863399;
  border-color: #863399;
}

/* line 4, app/assets/stylesheets/base/bootstrap_overrides.sass */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #652673 !important;
  border-color: #652673 !important;
}

/* line 8, app/assets/stylesheets/base/bootstrap_overrides.sass */
a {
  color: #863399;
}

/* line 2, app/assets/stylesheets/base/version2.sass */
.btn-primary-v2 {
  background: linear-gradient(99.74deg, #57107C 13.42%, #57107C 30%, #1D51A2 123.17%);
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  border: none;
}

/* line 13, app/assets/stylesheets/base/version2.sass */
.btn-primary-v2 .icon {
  font-size: 18px;
  padding-right: 8px;
  vertical-align: middle;
}

/* line 19, app/assets/stylesheets/base/version2.sass */
.btn-secondary-v2 {
  color: #58107C;
  background: white;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  width: 167px;
  border-radius: 8px;
  padding: 10px 13px 10px 13px;
  border: 1px solid #58107C;
}

/* line 30, app/assets/stylesheets/base/version2.sass */
.btn-secondary-v2.btn-drawer {
  width: 34px;
  height: 34px;
  margin-right: 15px;
}

/* line 35, app/assets/stylesheets/base/version2.sass */
.btn-secondary-v2.btn-campaign-back {
  width: 193px;
  height: 34px;
  margin-right: 15px;
  padding: 0;
}

/* line 41, app/assets/stylesheets/base/version2.sass */
.slim {
  padding: 0;
  height: auto;
  width: auto;
}

/* line 46, app/assets/stylesheets/base/version2.sass */
.agency-dashboard {
  padding-left: 47px;
  padding-right: 47px;
  font-family: Nunito;
}

/* line 51, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .no-advertisers-card {
  height: 219px;
  border: 1px dashed #C1C1C1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* line 60, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-title {
  color: #58107C;
  font-size: 20px;
}

/* line 64, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .card-v2 {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* line 68, app/assets/stylesheets/base/version2.sass */
.agency-dashboard input {
  font-size: 14px;
  height: 50px;
  border-radius: 8px;
}

/* line 73, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dropdown-menu-button {
  display: inline-flex;
  float: right;
}

/* line 77, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .gear-icon {
  color: #828282;
  font-size: 21px;
  padding: 6px;
}

/* line 83, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .label-v2 {
  color: #58107C;
  margin-bottom: -50px;
  padding-left: 5px;
  padding-top: 2px;
  position: absolute;
}

/* line 90, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .label-v2.default-position {
  color: #58107C;
  position: relative;
}

/* line 94, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .input-v2 {
  padding-top: 20px;
  height: 50px;
  border-radius: 8px;
}

/* line 99, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .input-v2-append {
  float: right;
  width: 8%;
  align-items: center;
  height: 50px;
  background: #e9ecef;
  border-radius: 0 8px 8px 0;
  border: 1px solid #ced4da;
  border-left: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-left: -1px;
  color: #495057;
}

/* line 114, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .input-v2.left {
  border-radius: 8px 0 0 8px;
  display: inline-block;
  width: 92%;
}

/* line 119, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .input-v2-prepend {
  float: left;
  width: 8%;
  align-items: center;
  height: 50px;
  background: #e9ecef;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ced4da;
  border-right: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-left: -1px;
  color: #495057;
}

/* line 134, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .input-v2.right {
  border-radius: 0 8px 8px 0;
  display: inline-block;
  width: 92%;
}

/* line 139, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .select2-selection--multiple {
  height: auto !important;
}

/* line 143, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .slider-group .slider {
  display: inline-block;
  width: 60%;
}

/* line 147, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .slider-group .before-label {
  width: 20%;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  float: left;
  padding-top: 3px;
  padding-right: 5px;
}

/* line 156, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .form-v2 .slider-group .after-label {
  width: 20%;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  float: right;
  padding-top: 3px;
  padding-left: 5px;
}

/* line 166, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .menu-item {
  font-size: 16px;
}

/* line 169, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .menu-item i {
  color: #58107C;
  font-size: 14px;
  padding-right: 15px;
}

/* line 174, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .no-focus {
  outline: none;
}

/* line 177, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-append-right-v2 {
  background: white;
  border-color: #ced4da;
  border-left: none;
  border-radius: 8px;
}

/* line 183, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .btn-append-right-v2 i {
  color: grey;
  padding-top: 7px;
  font-size: 12px;
}

/* line 188, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .create-campaigns-btn {
  font-size: 14px;
  padding: 10px 13px 10px 13px;
  color: #58107C;
}

/* line 193, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .create-campaigns-btn .icon {
  font-size: 18px;
  padding-right: 8px;
  vertical-align: middle;
  color: #58107C;
  padding-bottom: 2px;
}

/* line 200, app/assets/stylesheets/base/version2.sass */
.agency-dashboard h1 {
  font-size: 26px;
  font-weight: 400;
  display: inline-flex;
}

/* line 205, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .search-input {
  background: white;
  height: 50px;
  width: 332px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  border: 1px solid #e7e9e2;
}

/* line 214, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .search-input::-moz-placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.agency-dashboard .search-input:-ms-input-placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.agency-dashboard .search-input::placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}

/* line 222, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .grid-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 226, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 334px;
  border-radius: 8px;
}

/* line 231, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top {
  background: conic-gradient(from 47.55deg at 57.06% -54.36%, #1C111E -172.56deg, #843693 19.34deg, #1C111E 187.44deg, #843693 379.34deg);
  height: 220px;
  border-radius: 8px 8px 8px 8px;
  padding: 25px;
}

/* line 237, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
  display: inline-flex;
}

/* line 245, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .card-drawer-icon {
  color: white;
}

/* line 248, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .active-campaigns-btn {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #219653;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 2px 19px 2px 19px;
}

/* line 259, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .advertiser-card-container {
  position: relative;
  height: 80%;
  display: flex;
}

/* line 264, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .advertiser-card-container .content-bottom {
  position: absolute;
  bottom: 0px;
}

/* line 268, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top .advertiser-card-container .content-center {
  margin: auto;
}

/* line 271, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top.grey {
  background: #F2F2F2;
}

/* line 274, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top.grey h4 {
  color: #4F4F4F;
}

/* line 277, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .advertiser-card-top.grey .card-drawer-icon {
  color: #4F4F4F;
}

/* line 280, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table {
  font-size: 14px;
  border: 1px solid #D9D9D9;
}

/* line 284, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .sort-caret {
  padding-left: 6px;
  font-size: 13px;
}

/* line 288, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .header-classes {
  background: #F7E9FD;
}

/* line 291, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table tr {
  border: none;
  cursor: pointer;
}

/* line 295, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table tr:hover {
  zoom: 105%;
}

/* line 298, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table tr:nth-child(even) {
  background-color: #F2F2F2;
}

/* line 301, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table th {
  border: none;
}

/* line 304, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table td {
  border: none;
  vertical-align: middle;
}

/* line 309, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-cell {
  margin: auto;
}

/* line 312, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-cell p {
  margin-bottom: 0;
  text-align: center;
  line-height: 20px;
}

/* line 317, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-bar {
  width: 100px;
  height: 11px;
  background: #E9E9E9;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: auto;
}

/* line 326, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaigns-index-table .budget-used-bar-inside {
  height: 11px;
  border-radius: 8px;
  margin: -1px;
}

/* line 332, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

/* line 339, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dot.orange {
  background: #F2994A;
}

/* line 342, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dot.red {
  background: #EB5757;
}

/* line 345, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .dot.green {
  background: #27AE60;
}

/* line 349, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}

/* line 356, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

/* line 364, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details p.goal-label {
  font-size: 21px;
  line-height: 16px;
  letter-spacing: 0em;
  color: #3289CB;
}

/* line 370, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details .details-card {
  background: white;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 20px 12px;
}

/* line 377, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details .details-card .dot {
  margin-right: 8px;
}

/* line 380, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .campaign-details .details-card.more-details {
  padding: 0px;
}

/* line 384, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component div[role=tablist] {
  border-bottom: 1px solid #D9D9D9;
  background: transparent;
}

/* line 388, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component button {
  background: transparent;
  height: 50px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #D9D9D9;
  padding: 16px 28px;
  color: #828282;
}

/* line 398, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component button:focus {
  outline: none;
}

/* line 401, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .tabs-component button.active {
  border-bottom: 4px solid #863399;
  font-weight: bold;
  color: #4F4F4F;
}

/* line 407, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control--is-focused {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* line 411, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control {
  border-radius: 8px;
  background: transparent;
}

/* line 417, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__placeholder {
  top: 64%;
}

/* line 420, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__single-value {
  top: 64%;
}

/* line 423, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__input {
  padding-top: 8px;
  margin-bottom: -8px;
}

/* line 427, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .selectV2__control .selectV2__value-container .selectV2__input input {
  height: 36px;
}

/* line 430, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .annual-revenue-filter .selectV2__control {
  background: white;
  border-color: #ced4da;
}

/* line 436, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .annual-revenue-filter .selectV2__control .selectV2__value-container .selectV2__placeholder {
  top: 55%;
}

/* line 439, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .annual-revenue-filter .selectV2__control .selectV2__value-container .selectV2__single-value {
  top: 55%;
}

/* line 442, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .annual-revenue-filter .selectV2__control .selectV2__value-container .selectV2__input {
  padding-top: 0;
  margin-bottom: 0;
}

/* line 447, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control--is-focused {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* line 451, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control {
  border-radius: 8px;
  background: transparent;
}

/* line 455, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container {
  padding-top: 20px;
}

/* line 458, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container .multiSelectV2__placeholder {
  top: 64%;
}

/* line 461, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container .multiSelectV2__multi-value {
  background: #FCF2FF;
  border: 1px solid #DCC3E6;
  box-sizing: border-box;
  border-radius: 8px;
}

/* line 467, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .multiSelectV2__control .multiSelectV2__value-container input {
  height: 20px;
}

/* line 470, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .affinities-tree {
  height: 500px;
  overflow-y: scroll;
  margin: 15px 10px 15px 0;
}

/* line 475, app/assets/stylesheets/base/version2.sass */
.agency-dashboard ::-webkit-scrollbar {
  width: 8px;
}

/* line 478, app/assets/stylesheets/base/version2.sass */
.agency-dashboard ::-webkit-scrollbar-track {
  background: #E0E0E0;
  border-radius: 8px;
}

/* line 482, app/assets/stylesheets/base/version2.sass */
.agency-dashboard ::-webkit-scrollbar-thumb {
  background: #7C3B94;
  border-radius: 8px;
}

/* line 486, app/assets/stylesheets/base/version2.sass */
.agency-dashboard ::-webkit-scrollbar-thumb:hover {
  background: #7C3B94;
}

/* line 489, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .pill {
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}

/* line 497, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .pill.blue {
  background: #F4FBFF;
  border: 1px solid #3289CB;
}

/* line 501, app/assets/stylesheets/base/version2.sass */
.agency-dashboard .pill.affinity {
  background: #FCF2FF;
  border: 1px solid #DCC3E6;
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: top;
}

/* line 508, app/assets/stylesheets/base/version2.sass */
.no-results-message {
  padding-left: 15px;
}
