/* line 2, app/assets/stylesheets/campaigns.sass */
.campaigns .campaign-card {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* line 5, app/assets/stylesheets/campaigns.sass */
.campaigns .campaign-card .campaign-card-body {
  padding: 60px;
}

/* line 7, app/assets/stylesheets/campaigns.sass */
.campaigns .campaign-card .campaign-card-body hr {
  color: #EFEFEF;
}

/* line 9, app/assets/stylesheets/campaigns.sass */
.campaigns .campaign-card h5 {
  color: #7C3B94;
}

/* line 11, app/assets/stylesheets/campaigns.sass */
.campaigns .campaign-card .basic-input, .campaigns .campaign-card .react-tagsinput {
  border: 1px solid #BDBDBD;
  border-radius: 8px;
}

/* line 14, app/assets/stylesheets/campaigns.sass */
.campaigns .campaign-card .basic-input {
  height: 55px;
}

/* line 16, app/assets/stylesheets/campaigns.sass */
.campaigns .back-btn, .campaigns .select-btn, .campaigns .provider-btn {
  border: 1px solid #58107C;
  box-sizing: border-box;
  border-radius: 8px;
  color: #58107C;
  font-size: 14px;
  cursor: pointer;
}

/* line 23, app/assets/stylesheets/campaigns.sass */
.campaigns .back-btn, .campaigns .provider-btn {
  width: 150px;
  height: 50px;
}

/* line 26, app/assets/stylesheets/campaigns.sass */
.campaigns .select-btn {
  width: 85px;
  height: 30px;
}

/* line 29, app/assets/stylesheets/campaigns.sass */
.campaigns .gender {
  text-transform: capitalize;
}

/* line 31, app/assets/stylesheets/campaigns.sass */
.campaigns .next-btn {
  width: 300px;
  height: 50px;
  background: linear-gradient(99.74deg, #57107C 13.42%, #57107C 30%, #1D51A2 123.17%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;
  font-size: 14px;
}

/* line 39, app/assets/stylesheets/campaigns.sass */
.campaigns .react-tagsinput {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  height: 150px;
}

/* line 44, app/assets/stylesheets/campaigns.sass */
.campaigns .react-tagsinput--focused, .campaigns .react-tagsinput-tag {
  border: 1px solid #DCC3E6;
}

/* line 46, app/assets/stylesheets/campaigns.sass */
.campaigns .react-tagsinput-tag {
  color: #4F4F4F;
  background-color: #FCF2FF;
}

/* line 49, app/assets/stylesheets/campaigns.sass */
.campaigns .react-tagsinput-input {
  font-size: 14px;
  margin: unset;
}

/* line 52, app/assets/stylesheets/campaigns.sass */
.campaigns .action-link {
  margin-right: 10px;
}

/* line 54, app/assets/stylesheets/campaigns.sass */
.campaigns .audience-targeting {
  height: 125px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px 15px;
  border: 1px solid #ced4da;
}

/* line 60, app/assets/stylesheets/campaigns.sass */
.campaigns label {
  text-transform: capitalize;
  color: #434649;
}

/* line 64, app/assets/stylesheets/campaigns.sass */
.campaigns .submit-btns .io-btn {
  margin-right: 15px;
}

/* line 68, app/assets/stylesheets/campaigns.sass */
.campaigns .category .ant-select.ant-tree-select.ant-select-multiple.ant-select-show-search .ant-select-selector {
  padding: 5px 5px;
  border-radius: 0.25rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* line 80, app/assets/stylesheets/campaigns.sass */
.campaigns .react-datepicker-wrapper {
  display: unset;
}

/* line 82, app/assets/stylesheets/campaigns.sass */
.campaigns .error-msg {
  color: red;
  text-transform: capitalize;
}

/* line 85, app/assets/stylesheets/campaigns.sass */
.campaigns img {
  width: 350px;
}

/* line 87, app/assets/stylesheets/campaigns.sass */
.campaign-modal {
  height: 250px;
}

/* line 89, app/assets/stylesheets/campaigns.sass */
.hide-modal {
  cursor: pointer;
}
