.agency-dashboard
  h1 #{@agency.name}
  .dropdown-menu-button
    = render partial: 'shared/user_settings_menu'

= react_component("AgencyDashboardComponent",
                  props: {\
                    agency: @agency,
                    advertisers: @advertisers.as_json(include: :campaigns),
                    token: form_authenticity_token,
                    annual_revenue_options: annual_revenue_options},
                  prerender: false)
