body
  background: #F5F6FA
  font-family: 'sailec'
  font-size: 14px

.bg-light
  background: white !important

.content-wrapper
  width: 100%
  margin-top: 3px
  align-items: stretch

  .main-content
    width: calc(100% - 275px)
    padding-top: 30px
    background-color: #F9F9F9
.h5
  font-size: 17px
  background: #F9F9F9
  height: 800px

