@import "colors"
.agency-dashboard
  width: 1160px
  padding-left: 47px
  padding-right: 47px
  font-family: Nunito

  .no-clients-card
    height: 219px;
    border: 1px dashed #C1C1C1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  .form-title
    color: $purple-2
    font-size: 20px

  .card-v2
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25)
    border-radius: 8px

  input
    height: 50px
    border-radius: 8px

  .dropdown-menu-button
    display: inline-flex
    float: right

  .gear-icon
    color: #828282
    font-size: 21px

  .form-v2
    .label-v2
      color: $purple-2
      margin-bottom: -50px
      padding-left: 5px
      padding-top: 2px
      position: absolute

    .input-v2
      padding-top: 20px
      background: transparent
      height: 50px
      border-radius: 8px

    .select2-selection--multiple
      height: auto !important


  .menu-item
    font-size: 16px

    i
      color: $purple-2
      font-size: 14px
      padding-right: 15px

  .btn-primary-v2
    background: $purple-gradient-linear
    font-weight: 400
    font-size: 14px
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    height: 50px
    width: 167px
    border-radius: 8px
    padding: 10px 13px 10px 13px
    color: white

    .icon
      font-size: 18px
      padding-right: 8px
      vertical-align: middle

  .btn-cancel-v2
    background: white
    font-weight: 400
    font-size: 14px
    height: 50px
    width: 167px
    border-radius: 8px
    padding: 10px 13px 10px 13px
    border: 1px solid $purple-2

  .btn-secondary-v2
    background: white
    border-color: #ced4da
    border-left: none
    border-radius: 8px

    i
      color: grey
      padding-top: 7px
      font-size: 12px

  .create-campaigns-btn
    font-size: 14px
    padding: 10px 13px 10px 13px
    color: $purple-2

    .icon
      font-size: 18px
      padding-right: 8px
      vertical-align: middle
      color: $purple-2
      padding-bottom: 2px

  h1
    font-size: 26px
    font-weight: 400
    display: inline-flex

  .search-input
    background: rgba(255, 255, 255, 1)
    height: 50px
    width: 332px
    left: 0px
    top: 0px
    border-radius: 8px
    border: 1px solid rgba(231, 233, 226, 1)

  .search-input::placeholder
    font-size: 16px
    font-style: normal
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    padding-left: 5px

  .advertiser-grid-item
    padding-top: 15px
    padding-bottom: 15px

  .advertiser-card
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    width: 334px
    border-radius: 8px

  .advertiser-card-top
    background: $purple-gradient-angular
    height: 188.05px
    border-radius: 8px 8px 0px 0px
    padding: 25px

    h4
      font-size: 20px
      font-weight: 400
      letter-spacing: -0.01em
      text-align: left
      color: white
      display: inline-flex

    .card-drawer-icon
      color: white

    .active-campaigns-btn
      color: white
      font-size: 12px
      display: flex
      align-items: center
      text-align: center
      border: 2px solid #219653
      border-radius: 8px
      box-sizing: border-box
      padding: 2px 19px 2px 19px

    .advertiser-card-container
      position: relative
      height: 100%
      display: flex

      .content-bottom
        position: absolute
        bottom: 30px

      .content-center
        margin: auto
        padding-bottom: 10px

  .advertiser-card-top.grey
    background: #F2F2F2

    h4
      color: #4F4F4F

    .card-drawer-icon
      color: #4F4F4F

  .advertiser-card-bottom
    height: 51.95px
    display: flex
    align-items: center

    label
      margin-left: auto
      margin-right: 10px
      margin-bottom: 0
      color: $gray-2
