= react_component("CampaignNew", props: { page_type: 'New', campaign: @campaign, campaign_audiences: @campaign_audiences, audiences: @audiences, company: @company, is_client: @is_client, goal_options: goal_options, kpi_options: kpi_options, education_options: education_options, parental_options: parental_options}, prerender: false)
