.campaigns
  .action-link
    margin-right: 10px
  .audience-targeting
    height: 125px
    overflow-y: scroll
    overflow-x: hidden
    padding: 5px 15px
    border: 1px solid #ced4da
  label
    text-transform: capitalize
  .submit-btns
    .io-btn
      margin-right: 15px
  .category
    .ant-select.ant-tree-select.ant-select-multiple.ant-select-show-search
      .ant-select-selector
        padding: 5px 5px
        border-radius: 0.25rem
        width: 100%
        font-size: 1rem
        font-weight: 400
        line-height: 1.5
        color: #495057
        background-color: #fff
        background-clip: padding-box
        border: 1px solid #ced4da
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  .react-datepicker-wrapper
    display: unset
  .error-msg
    color: red
    text-transform: capitalize
