.demand-side-platforms
  .card
    height: calc(100vh - 120px)
    .text-center
      width: 100%
    .dv-image
      width: 80%
      margin: 0 auto 30px
      display: block
    .zeta-image
      width: 30%
      margin: 0 auto 30px
      display: block