.demand-side-platforms
  padding: 0
  .bottom-row
    margin-top: 30px
  .card
    height: calc(50vh - 75px)
    .text-center
      width: 100%
    .dv-image
      width: 80%
      margin: 0 auto
      display: block
    .zeta-image
      height: 65px
      margin: 0 auto 30px
      display: block
    .access-btn
      margin-top: 30px
