<div style="font-size:14px; font-family:'Arial'; text-align:center; width: 600px; height: 700px; background:#ffffff; margin: auto;">
  <div style="margin: auto; width: fit-content; padding: 0 0 40px 0;">
    <img style="width: 94px; height: 33px;" src="<%= asset_path('password-reset-logo.png') %>">
  </div>
  <div style="width:209px; height:215px; margin: auto;">
    <img style="width: 209px; height: 215px;" src="<%= asset_path('password-reset-image.png') %>">
  </div>
  <div style="font-size:29px; line-height:39px; color:#333333; padding-top: 20px;">
    Password reset request
  </div>
  <p style="line-height:20px;">
    A request to change your password has been made.<br>
    To reset your password, click the button below.
  </p>
  <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
     style="display:flex;height:40px;background:linear-gradient(99.74deg,#57107c 13.42%,#57107c 30%,#1d51a2 123.17%);
       border-radius:8px;text-decoration:none;color:white;width:fit-content;margin:40px auto;">
    <span style="display:flex;margin:auto 10px;">
      Reset my password</span>
  </a>
  <p style="color:#333333;width: 400px;margin: auto;">
    If you did not request this password reset request, please ignore this request and contact
    <a href="mailto:support@theversion2.com">support@theversion2.com</a>
  </p>
  <div style="width: 100%;height: 120px;margin-top: 30px;align-content: center;">
    <div style="background:linear-gradient(99.74deg,#57107c 13.42%,#57107c 30%,#1d51a2 123.17%);
      height: -webkit-fill-available; opacity:0.999">
      <span style="height:100%;display:inline-block;vertical-align: middle;"></span>
      <img style="margin:auto; width:84px; height:60px; vertical-align: middle;" src="<%= asset_path('v2-email-footer-logo.png') %>"/>
    </div>
  </div>
</div>
